


html {
    height: 100%;
    width: 100%;
    overflow: hidden;
}


body {
    margin: 0px;
    height: 98%;
    display: flex;
    flex-direction: column;
}

body,
input,
textarea {
    font-family: sans-serif;
    font-size: 12px;
    font-weight: 100;
}




/* *****************************************
tabs and switching between in the main window */

/* the toolbar which contains the tab heads */
#tab-heads {
    background-color: lightgray;
    padding-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-self: flex-start;
}

/* a single tab head */
#tab-heads > div {
    background-color: whitesmoke;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    cursor: pointer;
}

#tab-heads > div.selected {
    background-color: white;
    font-weight: 400;
}

#tab-heads > div:not(.selected) {
    background-color: whitesmoke;
}

/* what is below the tab, i.e. this is most of the contents of the viewer window */
#tab-contents {
    flex-grow: 1;
    overflow: hidden;
}

#tab-contents > div {
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 15px;
}

#tab-contents > div:not(.selected) {
    display: none;
}


/* the spinner in the top right corner of the tab head toolbar*/
#spinner {
    position: absolute;
    right: 5px;
    top: 5px;
}

#spinner:not(.myspinner) {
    display: none;
}

/* we need the webkit prefix, otherwise it does not work
this is not an issue, since it will be executed in the browser of figma, which is webkit
the second line is just to avoid an error message */
.myspinner {
    animation: spin 2s infinite linear;
    -webkit-animation: spin 2s infinite linear;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
        /* Rotate a full circle */
    }
}


/* ********** toolbars and their buttons used in all tabs ************* */
.tab-toolbar {
    display: flex;
    align-items: center;
    align-self: flex-start;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 10px;
}

.toolbar-button:not(.disabled) {
    cursor: pointer;
}

.toolbar-button.disabled,
.disabled .toolbar-button {
    opacity: 0.2;
    cursor: default;
}

.toolbar-button {
    padding: 3px;
    margin-right: 2px;
    border-radius: 5px;
}

.toolbar-button img {
    width : 20px
}

.toolbar-button:hover:not(.disabled) {
    background-color: #daebf7;
}

/* a button in a toolbar that is not the first one should have a gap separating it from previous ones */
.tab-toolbar > .toolbar-button:not(:first-child) {
    margin-left: 30px;
}


/* ********** presentations tab ************** */

/* an item in the list of presentations */

#directory-listing {
    font-size: 12px;
    font-weight: 300;
    overflow-y: scroll;
}

#link-to-current-folder {
    font-size: 12px;
    padding-left: 10px;
    cursor: pointer;
}

.presentation-line {
    display: flex;
    flex-direction: row;
    user-select: none;
    height: 30px;
}

.presentation-line > div:first-child {
    cursor: pointer;
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.presentation-line > div:first-child:hover {
    background-color: #daebf7;
}


/* *********** messages tab ******************/
#general-status,
#upload-status {
    flex-grow: 1;
    overflow-y: scroll;
    margin-bottom: 20px;
}




/* ********** settings  tab *************** */

textarea {
    width: 98%;
    height: 200px
}

/* setting items are separated by grey borders */
#settings-contents>div {
    border-bottom: 1px solid lightgrey;
}


/* the input fields for just a number */
#port-number {
    width: 30px;
}

/* the input fields for long paths */
#comment-url,
#ffmpeg-path,
#ffprobe-path {
    width: 200px;
}

#comment-container.disabled {
    color : gray;
}

#settings-contents {
    overflow-y: scroll;
}




/* *********** welcome tab *********** */

.heading {
    font-size: 20px;
}

b {
    font-weight: 600;
}

.subheading {
    font-size : 15px;
}

.inline-image {
    width : 15px;
    vertical-align: baseline; 
    margin-bottom: -3px; 
  
}

a {
    cursor: pointer;
    color: blue;
}



/* ************************************* */
/* the quick status bar at the bottom */
#quick-status {
    position: fixed; 
    bottom: 0px;
    left: 0;
    width: 100%;
    height : 25px;
    display: flex;
    justify-content: center; 
    align-items: center; 
    background-color: #f0f0f0; 
    transition: opacity 0.5s ease; 
    opacity : 0;
}

/* hidden should apply last */

.hidden {
    display: none;
}



/* ************************************* */

.hide-updates .update-button  {
    display: none;
}
