/* style sheet for the panel on the left, which contains the tree view of the slides */



#left-panel {
    position : relative;
    color : black;
    display : flex;
    flex-direction: column;
    background-color: var(--very-light-blue);
    width : 0;
    vertical-align: top;
    cursor: default;
    white-space: nowrap;
    overflow: hidden;
    resize :horizontal;
    font-size: 12px;
}



.tree-view-item {
    overflow: hidden;    
    white-space: nowrap;
    display:block;
    color :gray;
    margin-bottom : 5px;
    cursor: pointer;
}

.tree-view-item-seen {    
    color: black;
}

.tree-view-item-loading {
    color : red;
}

.tree-view-item i {
    margin-right: 5px;
    cursor : pointer;
    font-size: 10px;
}

.slide-stack {
    font-size: 10px;
    margin-top : 5px;
    margin-left: 1.5em;
    overflow: scroll;
}

.slide-stack-hidden {
    display : none;
}

#slide-stack-container {
   overflow : scroll; 
   margin-top : 10px
}

.disabled-event {
    text-decoration: line-through;
}


#made-using-slajdomat {
    margin : 10px;
    padding-left: 7px;
}

#made-using-slajdomat img {
    width : 100px;
}


#logo-line {
    font-size : 20px;
    margin-top  : 5px;
    margin-bottom : 5px;
    }

#logo-second-line {    
    margin : 0px;
}

#search-panel {
    display: flex;
    flex-direction: column;
    padding : 10px;
    border-top : 1px solid var(--light-blue);
    border-bottom : 1px solid var(--light-blue);
}

#search-box {
    display: flex;
    margin-top : 5px;
}

#search-box i {
    margin : 3px;
    font-size: 18px;
}

#search-box input {
    width : 100%;
}

#search-results {
    margin-left : 5px;
    margin-top : 5px;
}

.one-result {
    padding : 5px;
}

.one-result:hover {
    background-color: white;
    cursor: pointer;
}

.search-result-text {    
    color: grey;

}