/* style sheet for the panel on the left, which contains the tree view of the slides */


#left-panel {
    position : relative;
    color : black;
    display : flex;
    flex-direction: column;
    background-color:whitesmoke;
    width : 0%;
    /* height: 100%; */
    vertical-align: top;
    z-index : +1;
    cursor: default;
    font-family: 'Roboto';
    font-weight: 300;
    white-space: nowrap;
    overflow: hidden;
    resize :horizontal;
}


.tree-view-item {
    overflow: hidden;    
    white-space: nowrap;
    display:block;
    color : darkgray;
    margin-bottom : 5px;
}

.tree-view-item-seen {    
    color: black;
}

.tree-view-item-loading {
    color : red;
}

.tree-view-item i {
    font-size: 12px;
    /* margin-bottom: 10px; */
    margin-right: 5px;
    cursor : pointer;
}

.slide-stack {
    font-size: 10px;
    margin-top : 5px;
    margin-left: 1.5em;
    overflow: scroll;
}

.slide-stack-hidden {
    display : none;
}

#slide-stack-container {
   overflow : scroll; 
}

.disabled-event {
    text-decoration: line-through;
}


#made-using-slajdomat {
    margin : 5px;
    margin-left : 10px;
    overflow: hidden;
    white-space: nowrap;
}


#logo-line {
    font-size : 20px;
    margin-top  : 5px;
    margin-bottom : 5px;
    }

#logo-second-line {
    font-size: 14px;
    margin : 0px;
}

#resizer {
    background-color: blue;
    width : 10px;
    opacity: 0;
    height: 100%;
    position: absolute;
    top : 0px;
    right : 0px;
    cursor:col-resize;
}