/* ***** progress panel ***/
#progress-panel {
    width : 100%;
    position : absolute;
    bottom : 0;
    height : 20px;
    display : flex;
    align-items: center;
    font-size : 12px;
    font-family: 'Roboto';
    cursor: default;
    padding : 0;
}


#progress-line {
    height: 100%;
    flex-grow: 1;
    display : flex;
    align-items: center;
    justify-content: center;
    cursor : pointer;
}
#progress-line > div {
    height : 100%;
    background-color: lightgray;
    /* width : 50px; */
    border-left : 1px solid grey;
    opacity :30%;
    display:  flex;
}

#progress-line .seen {
 border-left : 1px solid rgb(230, 0, 0);
}

#progress-line .nosound {
    background-color:blue;
}


.progress-filler {
    height: 100%;
    background-color: red;
}

#progress-controls {
    /* width : 110px; */
    z-index: 5;
    display : flex; 
    align-items: center;
    padding-left: 5px;
    padding-right:5px;
}

#progress-controls i {
    cursor: pointer;
}

#progress-controls div {
  flex-grow: 1;
}


#progress-controls div {
    display : flex; 
    align-items: center;
}

#page-count {
    width : 80px;
    display : flex;
    align-items: center;
    justify-content: center;
}

#page-count-enumerator {
    font-size: 15px;
}

.playing #page-count-enumerator {
    display : none;
}

.playing #page-count-denominator {
    display : none;
}

#progress-panel:not(.playing) #time-elapsed {
    display : none;
}

#progress-panel:not(.playing) #sound-speed {
    opacity : 0;
}

body:not(.has-sound) #play-button {
    display: none;
}

body:not(.has-sound) #sound-speed {
    display : none;
}

#sound-speed {
    cursor : pointer;
}

#page-count-denominator {
    color :darkgray;
}
#next-event {
    right: 0%;
}