:root {
    --grafitowy : #2c2c2c;
      --niebieski : #18A0FB;
    --select-color : #daebf7;
    --disabled-color : Silver;
  }

body, html {
    height : 100%;
    overflow: hidden;
}

body, div {
    font-family: 'Roboto';
}

body {
    margin : 0;
}


#upper-panel {
    position: absolute;
    top : 0;
    bottom : 20px;
    width :100%;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-shrink : 1;
}

#text-alert-box {
    position : fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 40px;
    display: flex;
    align-items: center;
    z-index: 3;
    display : none; 
}

#text-alert-background {
    position : absolute;
    width : 100%;
    height : 100%;
    background-color : lightgray;
    opacity: 90%; 
}

#text-alert {
 padding: 10px;
 z-index: 1;
}

.hidden-svg {
    position: absolute;
    width : 0px;
    height : 0px; 
}

#svg-container {
    flex-grow : 1;
    flex-direction: column;
    /* align-items : center; */
}

#svg { 
    flex-grow : 1;
}

/* this counters a display bug in figma */
path:not([fill]) {
    fill : transparent;
}

.sound-icon {
    position : absolute;
    color: red;
    z-index : 2;
}

.invisible {
    display: none;
}

