/* for the index page */

body {
    font-family : 'Roboto'
}
#index-title {
    font-size: large;
}
#tree-view {
    padding : 5px;
}

a {
    padding : 5px;
    display : block
}
a:hover {
    cursor: pointer;
  color: red;
}

.hidden {
    display: none;
}