:root {
    --left-panel-width : 20%
}



.slide-panel {
    position: relative;
    display: flex;
    flex-grow: 1;
}


body, html {
    height : 100%;
}

body {
    margin : 0;
    display : flex;
}







#text-alert-box {
    position : fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 40px;
    display: flex;
    align-items: center;
    z-index: 3;
    display : none; 
}

#text-alert-background {
    position : absolute;
    width : 100%;
    height : 100%;
    background-color : lightgray;
    opacity: 90%; 
}

#text-alert {
 padding: 10px;
 font-family: 'Roboto';
 z-index: 1;
}








.hidden-svg {
    position: absolute;
    width : 0px;
    height : 0px;
}


.slide-panel svg {
    width :100%;
}

/* this counters a display bug in figma */
path:not([fill]) {
    fill : transparent;
}

.sound-icon {
    position : absolute;
    color: red;
    z-index : 2;
}

.invisible {
    display: none;
}






#help-panel {
    position : absolute;
    top :30%;
    left : 30%;
    width : 40%;
    z-index: 4;
    display : none;
}

#help-panel p {
    font-family: 'Roboto';
    font-size: 20px;
}

