:root {
    --control-panel-width : 20%
}

.control-panel {
    color : black;
    display: inline-block;
    background-color:whitesmoke;
    width : 0%;
    height: 100%;
    vertical-align: top;
    z-index : +1;
}



#left-sensor {
    position : absolute;
    width : 5%;
    height : 100%;
    z-index : +2;
}

.slide-panel {
    display: flex;
    flex-grow: 1;
}


body, html {
    height : 100%;
}

body {
    margin : 0;
    display : flex;
}

.control-panel {
    font-family: 'Roboto';
    font-weight: 300;
}



.slide-list-item {
    overflow: hidden;
    
    
    white-space: nowrap;
    display:block;
    color : lightgrey;
    margin-bottom : 5px;
}

.slide-list-item-seen {    
    color: black;
}

.slide-list-item-loading {
    color : red;
}




.slide-list-item i {
    font-size: 10px;
    /* margin-bottom: 10px; */
    margin-right: 5px;
}

.slide-stack {
    font-size: 10px;
    margin-top : 5px;
    margin-left: 1.5em;
    overflow: scroll;
}

.slide-stack-hidden {
    display : none;
}

#text-alert-box {
    position : fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 40px;
    display: flex;
    align-items: center;
    z-index: 3;
    opacity: 0; 
}

#text-alert-background {
    position : absolute;
    width : 100%;
    height : 100%;
    background-color : lightgray;
    opacity: 0.8;
}

#text-alert {
 padding: 10px;
 font-family: 'Roboto';
 z-index: 1;
}



.page-count-container {
    position: fixed;
    bottom : 0;
    right : 0;
    width : 120px;
    height : 40px; 
    /* background-color: lightgrey; */
    font-family: 'Roboto';
    font-size: 20px;
    z-index: 5;
    display : flex; 
    align-items: center;
}

.page-count-container i {
    cursor: pointer;
}

.page-count-container div {
  flex-grow: 1;
}


.page-count-container div {
    display : flex; 
    align-items: center;
}

#page-count-enumerator {
    font-size: 15px;
}

#page-count-denominator {
    font-size: 12px;
    color :darkgray;
}
#next-event {
    right: 0%;
}


.disabled-event {
    text-decoration: line-through;
}

.hidden-svg {
    position: absolute;
    width : 0px;
    height : 0px;
}


.slide-panel svg {
    width :100%;
}

path:not([fill]) {
    fill : transparent;
}

.sound-icon {
    position : absolute;
    color: red;
    z-index : 2;
}

.invisible {
    display: none;
}

#control-panel {
    overflow : hidden;
    white-space: nowrap;
}

.help {
    font-size : 10px;
    margin-left : 5px;
    padding-bottom :10px;
}

.help p {
     margin-left : 5px;
}