/* for the index page */
html {
    height : 100%
}


body {
    font-family : 'Roboto';
    display : flex;
    flex-direction: column;
    margin : 0px;
    height : 100%;
}

.panel {
    padding : 10px;
    overflow : scroll;
}
#index-title {
    font-size: large;
}
#all-presentations {
    margin-top: 10px;
    padding : 5px;
}

.presentation {
    display: flex;
    padding : 5px;
    cursor: pointer;
    user-select: none;
}

.presentation i {
    margin-right : 5px
}

.presentation:hover {
    background-color:#daebf7;
}


.hidden {
    display: none;
}

#status-panel {
    background-color: lightgrey;
    font-size: 12px;
    font-weight: 100;
    height : 50px;
}

#folder-link-panel {
    display: flex;
    flex-direction: row;
    align-items: center;    
}
#folder-link-panel i {
    padding : 0px
}
#folder-link {
    font-size : 12px;
    font-weight :  100;
    padding-top : 5px;
    padding-left : 10px;
    cursor: pointer;
}

#presentation-panel {
    flex-grow: 1;
}

#no-pre {
    flex-grow : 1;
}

#empty-folder-text {
    padding-top : 10px;
    font-weight : 200;
}

.settings-item {
    margin : 10px; 
    font-weight : 200;
}

#dialog-buttons {
    position: absolute;
    bottom: 0;
    right : 0;
    margin : 5px;
    padding : 5px;
}

#dialog-buttons button {
    margin : 5px;
}

#settings-body {
    display: flex;
    font-size: small;
}

#settings-body button {
    font-family: 'Roboto';
    font-weight: 100;
}

#settings-body input {
    margin-top : 5px;
    padding : 5px;
    font-family: 'Roboto';
    font-weight: 100;
}

.settings-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 4px;
}

#toolbar {
    background-color:lightgray;
    padding-left : 5px;
}

.toolbar-button {
    padding : 5px;
    cursor: pointer;
    margin-left: 5px;
}

.toolbar-button:hover {
    background-color:#daebf7;
}

.myspinner {
    -webkit-animation: rotation 2s infinite linear;
}

@-webkit-keyframes rotation {
    from {
            -webkit-transform: rotate(0deg);
    }
    to {
            -webkit-transform: rotate(359deg);
    }
}