/* for the index page */
html {
    height: 100%;
    width: 100%;
    overflow: hidden;
}


body {
    font-family: 'Roboto';
    margin: 0px;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-size: 12px;
    font-weight: 100;
}




/* *****************************************
tabs and switching between in the main window */

.tab-item {
    width: 100%
}

.main-window-tab {
    height: 100%;
    display: flex;
    flex-direction: column;
}




/* the toolbar which contains the tab heads */
#tab-heads {
    background-color: lightgray;
    padding-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-self: flex-start;
}

/* a single tab head */
.tab-head {
    background-color: whitesmoke;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    cursor: pointer;
}


.tab-head.selected {
    background-color: white;
    font-weight: 400;
}

.tab-head:not(.selected) {
    background-color: whitesmoke;
}

/* the spinner in the top right corner */
#spinner {
    position: absolute;
    right: 5px;
    top: 5px;
}

#spinner:not(.myspinner) {
    display: none;
}

.myspinner {
    animation: spin 2s infinite linear;
}

/* Keyframes for spinning animation */
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
        /* Rotate a full circle */
    }
}


/* what is below the tab, i.e. this is most of the contents of the viewer window */
#tab-contents {
    flex-grow: 1;
    overflow-x: hidden;
    overflow-y: scroll;
}

.main-window-tab:not(.selected) {
    display: none;
}


/* ********************************* */

.material-icons {
    font-size: 20px;
}



#index-title {
    font-size: large;
}



.presentation-line {
    display: flex;
    flex-direction: row;
    user-select: none;
}

.presentation-line i {
    margin-top: 2px;
    margin-right: 10px;
    margin-left: 10px;
    font-size: 15px
}

.presentation-name {
    cursor: pointer;
    padding: 5px;
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.presentation-name:hover {
    background-color: #daebf7;
}







.tab-toolbar {
    padding: 10px;
    display: flex;
    align-items: center;
    align-self: flex-start;
    width: 100%
}

.tab-main-content {
    padding-left: 5px;
    flex-grow: 1;
    align-self: flex-start;
    overflow: scroll;
}


#directory-listing {
    font-size: 12px;
    font-weight: 300;
    width: 100%;
}


#link-to-current-folder {
    font-size: 12px;
    padding-left: 10px;
    cursor: pointer;
}

#instructions-tab {
    flex-grow: 1;
    font-weight: 300;
    padding: 10px;
}

#messages-tab {
    padding: 10px;
}

#empty-folder-text {
    padding-top: 10px;
    font-weight: 200;
}



.toolbar-button:not(.disabled) {
    cursor: pointer;
}

.toolbar-button.disabled {
    color: grey;
    cursor: default;
}

.toolbar-button {
    padding: 5px;
    margin-left: 5px;
}

.toolbar-button:hover:not(.disabled) {
    background-color: #daebf7;
}



.hidden {
    display: none;
}


/* ************************************* */
/* the settings dialog box */
.settings-item {
    margin: 10px;
    font-weight: 200;
}

#dialog-buttons {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    background-color: white;
}

#dialog-buttons button {
    margin: 10px;
    margin-left : 0px;
}

#settings-body {
    flex-grow: 1;
    overflow-y: scroll;
}

#settings-body button {
    font-family: 'Roboto';
    font-weight: 100;
}

#settings-body input {
    margin-top: 5px;
    padding: 5px;
}

.settings-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

#settings-header  {
    font-weight: 400;
    font-size: large;
    padding: 10px;
}


